.background {
    background-image: url(../../public/img/body.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 0px;
    background-repeat: no-repeat;


}

.cont{
    height: 100vh;
}
.img {
    height: 70vh;
    background-repeat: no-repeat;
    right: 0px;
    margin-top: 22%;
    z-index: 2;
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&display=swap');

.heading {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 80px;
    margin-top: 160px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 2px 2px #8D8D8D;
}

.btn{
height: 60px;
width: 200px;
font-family: 'Bai Jamjuree', sans-serif;
}

.blk {
    color: #8D8D8D;
    text-shadow: 2px 2px #dfe2e6;

}
