.background {
    background-image: url(../../public/img/gym.png);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 0px;

}
.cont{
    height: 100vh;
}
.img {
    height: 70vh;
    background-repeat: no-repeat;
    right: 0px;
    margin-top: 22%;
    z-index: 2;
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,700&display=swap');

.heading {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 105px;
    margin-top: 160px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 4px 4px #212529;
}

.btn{
height: 60px;
width: 200px;
font-family: 'Bai Jamjuree', sans-serif;
}

.blk {
    color: black;
    text-shadow: 4px 4px #b2bbc4;

}
